.lucas {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 10px;
  margin: 40px 0px 0px 0px;
}

.luca{
    background-image: url(./images/47.jpg);
}

.luc1{
    width: 50%;
    height: 30%;
}
